// --- colors
$black: #151515;
$dark-grey: #444444;
$white: #ffffff;
$gold: #d5966c;

$color-1: #44444458;
$color-2: #979797;
$color-3: #d8d8d8;
$color-4: #ffffff;

// --- text
$link-text-hover-color: black;
$button-text-color: $white;

// --- backgrounds
$body-bg: transparent;

// --- link hover shadow color
$link-hover-shadow-color: rgba(228, 7, 7);
